<%= javascript_include_tag 'notes_edit.js' %>
<h1>Editing Note</h1>

<%= render 'form', note: @note %>

<%= button_tag 'Preview', id: "preview-button" %>
<br>
<%= link_to 'Show', @note %> |
<%= link_to 'Back', notes_path %>
<br>
<div id="paste-area"></div>