<p>
  No Content Number: <%= @no_content_gigs %>
</p>
<h1>helloworld!</h1>

<div class="container-fluid">
  <% @gigs.each do |g| %>
    <div>
      <br>
      <table>
        <thead>
          <tr>
            <th>
              <%= g.city %>
            </th>
            <th>
              <%= g.datetime %>
            </th>
            <th class="mom">
              <%= g.pid %>
            </th>
            <th class="dad">
              <%= button_tag "Hide", class: "btn btn-primary hide-btn", id: g.pid %>
            </th>
          </tr>
        </thead>
        <tbody class= <%= g.pid %>>
          <tr>
            <td>
              <strong>Title</strong>
            </td>
            <td colspan=3>
              <%= g.title %>
            </td>
          </tr>
          <tr>
            <td colspan=4>
              <div>
                <%= link_to g.post_url, g.post_url, { target: :_blank, class: g.pid } %>
              </div>
            </td>
          </tr>
          <tr><td><br></td></tr>
          <tr>
            <td colspan=4 class= <%= g.pid %>>
              <div>
                <%= g.content %>
              </div>
            </td>
          </tr>
          <tr class= <%= g.pid %> >
            <td colspan=4>
              <hr class="style1">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</div>