<p>
  No Content Number: <%= @no_content_gigs %>
</p>

<div class="container-fluid">
  <% @gigs.each do |g| %>
    <br>
    <table>
      <thead>
        <tr>
          <th>
            <%= g.city %>
          </th>
          <th>
            <%= g.datetime %>
          </th>
          <th>
            <%= g.pid %>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <strong>Title</strong>
          </td>
          <td colspan=2>
            <%= g.title %>
          </td>
        </tr>
        <tr>
          <td colspan=3>
            <div>
              <%= link_to g.post_url, g.post_url, target: :_blank %>
            </div>
          </td>
        </tr>
        <tr><td><br></td></tr>
        <tr>
          <td colspan=3>
            <div>
              <%= g.content %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <hr class="style1">
  <% end %>
</div>